@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand: color.orange;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    
    --primary: #fafafa;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
   
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
* {
	padding: 4px;
}
}


@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

span {
  padding: 0;
}